<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" http-equiv="refresh" content="60">
  <title>Title</title>
</head>
<body th:with="d=${dashboard}">
  <h1>Today Weather: <span th:text="${#temporals.createNow().toLocalDate()}"></span></h1>
  <hr>
<div>
  <h1 th:if="${dashboard.status == EMPTY}"> No data in database </h1>
</div>

<div>
  <h1>Current weather (5-min avg)</h1>
  <hr>
  <h2 th:if="${d.status != EMPTY}">
    Temperature: <span th:text="${d.averages.avgTemperature != null} ? ${d.averages.avgTemperature} + ' ℃' : 'No data'"></span> |
    Pressure: <span th:text="${d.averages.avgPressure != null} ? ${d.averages.avgPressure} + ' hPa' : 'No data'"></span>
  </h2>
  <hr>
</div>

  <h1>Min and Max today temperature</h1>
<div>
  <hr>
  <div th:if="${d.minMaxTempValue}">
    <h2 >
      Min temperature: <span th:text="${dashboard.minMaxTempValue.minValue} + ' ℃' + ' at ' +  ${#temporals.format(d.minMaxTempValue.minAt, 'HH:mm:ss')}"></span>
    </h2>
    <h2>
      Max temperature: <span th:text="${dashboard.minMaxTempValue.maxValue} + ' ℃' + ' at ' +  ${#temporals.format(d.minMaxTempValue.maxAt, 'HH:mm:ss')}"></span>
    </h2>
  </div>
  <h2 th:if="${d.minMaxTempValue == null}"> Not enough data</h2>
  <hr>
</div>

<h1>System health data</h1>
  <hr>
<div th:if="${d.status != EMPTY}">
  <h2> STATUS: <span th:text="${d.status}"></span></h2>
  <h2> Lag time(minutes): <span th:text="${d.lagMinutes}"></span></h2>
  <h2> Today records received: <span th:text="${d.recordsToday}"></span></h2>
  <h2> Last record received at: <span th:text="${#temporals.format(d.lastMeasuredAt, 'HH:mm:ss')}"></span></h2>
</div>

</body>
</html>