<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>


</head>
<body th:with="d=${dashboard}">

<div class="today_data_block">
    <div class="date-group">
        <div id="date"></div>
        <div id="fullDay"></div>
    </div>
    <div id="realTime"></div>

</div>

<div class="dashboard-row">

    <!-- Weather block -->
<div class="temperature_block">
    <h3>Temperature (5-min avg)</h3>
    <div class="metric-content">
        <div class="main-value">
            <span id="avg-temp"></span><span class="unit">°C</span><span id="temp-trend"></span>
        </div>
        
        <div class="extremes-side">
            <div class="extreme-item">
                <span class="label">Min:</span>
                <span id="min-temp">24.3</span><span class="unit">°C</span>
            </div>
            <div class="extreme-item">
                <span class="label">Max:</span>
                <span id="max-temp">26.2</span><span class="unit">°C</span>
            </div>
        </div>
    </div>
</div>

    <div class="pressure_block">
        <h3>Pressure <small>(5-min avg)</small></h3>
            <div class="main-value">
             <span id="avg-pressure"></span><span class="unit">hPa</span><span id="pressure-trend"></span>
            </div>
        </div>
    </div>


<!-- Chart -->
<div class="chart_block">
    <h3>24-Hour Temperature Trend</h3>
    <div class="chart-container" style="position: relative; height:200px; width:100%;">
        <canvas id="weatherChart"></canvas>
    </div>
</div>

<!-- System health -->
<div class="system_health_block">

    <h3>System Health</h3>

    <div class="health-grid">
        <div class="health-item">
            <label>Status</label>
            <span id="status"></span>
        </div>

        <div class="health-item">
            <label>Lag</label>
            <span id="lag"></span>
        </div>

        <div class="health-item">
            <label>Today Records</label>
            <span id="todayRecords"></span>
        </div>

        <div class="health-item">
            <label>Last Update</label>
            <span id="lastUpdate"></span>
        </div>
    </div>
</div>
<script th:src="@{/js/realtime-script.js}"></script>
<script type="module"th:src="@{/js/fetch-data.js}"></script>
</body>
</html>